
.mainDiv {
    
}

.timer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: black;
    border: 10px;
}

.deathCounter {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: black;
    border: 10px;
}

.addButton {
    font-weight: bold;
    color: black;
    background-color: azure;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.restartButton {
    font-weight: bold;
    color: black;
    background-color: azure;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.pauseTimer {
    font-weight: bold;
    color: black;
    background-color: azure;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}