.body {
    margin-bottom: 10%;
    vertical-align: auto;
}

.button {
    color: black;
}

.divMapedNames {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: auto;
    margin-bottom: 40px;
}

.textElements {
    color: black;
}
